*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  color:white;
}

.title{
  font-size: 400%;
  text-align: center;
  padding-top: 20%;
}

.aboutmesection{
  justify-content: space-evenly;
  display: flex;
  border: wheat;
  align-items: center;
  
  
}
.photoSection{
  border:tan
}

.bio{
  border:tan
}

.languagesPage{
  justify-content: space-around;
  
}

.languages{
  padding-top: 20%;
  padding-left: 2%;
}

.contactPage{
  padding-top: 20%;
  padding-left: 2%;
}

.resumePage{
  padding-top: 20%;
  padding-left: 2%;
  font-size: 20px;
}







